myenv/
venv/
__pycache__/
*.pyc
.env
image_analysis_pipeline/kasboek-logo.png
image_analysis_pipeline/content.json
image_analysis_pipeline/image.png
image_analysis_pipeline/heatmap.png
image_analysis_pipeline/installation.log